body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #8cd19e;
  }
  
  #game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 400px;
    margin: 20px auto;
  }
  
  .button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
  .button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px; 
  }
  
  h1, p {
    text-align: center;
  }
  
  #start-btn {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }


.button.pressed img {
    background-color: #CCCCCC; /* Adjust the color as needed */
  }
  
  .flash {
    box-shadow: 0 0 10px 5px white; /* Example of a flashing effect; adjust as needed */
  }
  
  