body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Macondo', cursive;
    background-color: #8cd19e;
  }
  
  #game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 400px;
    margin: 20px auto;
  }

  #buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: 'Macondo', cursive;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
  .button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px; 
  }
  
  h1, p {
    text-align: center;
  }

  p {
    margin-top: 20px;
  }

#start-btn,
#restart-btn, 
#audio-btn {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Macondo', cursive;
}

#start-btn:hover,
#restart-btn:hover, 
#audio-btn:hover {
    transform: scale(1.1);
}



.button.pressed img {
    background-color: #CCCCCC; /* Adjust the color as needed */
  }
  
  .flash {
    box-shadow: 0 0 10px 5px white; /* Example of a flashing effect; adjust as needed */
  }
